body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: inherit;
	padding: 0 0.5rem;
}
a:hover {
	text-decoration: underline;
}

hr {
	margin: 20px 0;
	opacity: 0.5;
}

.css-qfxye4-MuiContainer-root{
	max-width: 1280px !important;
}